<div class="header-line"></div>
<section class="header-section">

  <div class="header-container">
    <h1 class="title">Anamnézis mezők</h1>

    <div class="hint">
      <div class="circle"></div> <!-- change it to svg -->
      <p class="text">Itt tudod szerkeszteni a páciens egészségügyi anamnézis mezőket. blablaab bla továbbbi leírás még
        ide. <br><a href="">Nézd meg videónkat és leírást itt</a></p>
    </div>

    <p class="formtitle">Anamnézis űrlap</p>

    <p class="description">Ez az űrlap lesz a páciens számára is elérhető majd a Páciens Portál modul-ban. Hamarosan
      érkezi! Így a páciens már akár otthonról, vagy a rendelőben egy tabletről is kitöltheti az adatait, ezáltal
      lényegesen csökkentve az adminisztrációs terheket és a hiba lehetőséget a rendelőben.</p>
  </div>
  <div class="settings-container">
    <div class="form-container">
      <div class="form-icon">ICON</div> <!-- change it to svg -->
      <div class="form-container-content">
        <p class="form-text">Hajlamos-e ájulásra? Igen/Nem mező minta?</p>
        <div class="button-container">
          <button class="button-yes">Igen</button>
          <button class="button-no">Nem</button>
        </div>
      </div>

      <div class="form-del-icon">DEL</div>
    </div>


    <app-add-new></app-add-new>
  </div>

</section>
